

@charset "UTF-8";

body .listSection{
	background: #eee;
}

.listSection .botoes{
	display:flex;
    justify-content: flex-end;
}

body .listSection  .ui-button{
	margin: 0 0.5rem;
}

body .listSection  .ui-datatable thead th .avaliacao{
	text-align: center;
}

.listSection  .product-name{
	font-weight: bold
}
	
.listSection  .product-list-item{
	display:flex;
	justify-content:space-between;
	align-items: center;
}

.listSection  .product-list-detail{
	align-self: start;
	max-width: 60%;
}

.listSection .product-list-detail div{
	margin: 0.5rem;
}

body .listSection .ui-datatable .ui-datatable-header {
    font-family: 'Josefin Slab', serif;
 	font-size: 26pt;
 	color: black;
    text-align: center;
    background-color: #AB9F9D;	
}


.card-form{
	width: 25em;
	margin: 10px auto;
}

button.cancel-button{
	margin-left: .5em;
}

.setup-list-item{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 1rem;
}

.setup-list-detail{
	flex: 1 1 0;
	-ms-flex:1 1 0;
}

.setup-name{
	font-size: 1rem;
	font-weight: 700;
}

.setup-description {
    margin: 0 0 1rem 0;
}

.product .setup-list-item .setup-list-action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product .setup-list-item .setup-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end;
}

.product .setup-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    margin-right: 2rem;
}