
@charset "UTF-8";

body{
	background: #eee;
}

.botoes{
	display:flex;
    justify-content: flex-end;
}

body .ui-button{
	margin: 0 0.5rem;
}

body .ui-datatable thead th .avaliacao{
	text-align: center;
}
